# Python
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/

# Virtual env
.venv/
venv/

# Local DB / instance
instance/
*.db

# OS/editor
.DS_Store
.vscode/
# Python
__pycache__/
*.pyc
.pytest_cache/
*.pyo

# Virtual env
.venv/
venv/

# Local DB / instance
instance/
*.db

# Local env
.env
